.coherence-page {
  background-color: transparent;

  .card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link):hover, .card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link):focus {
    border-color: white;
  }

  .session-icon {
    transition: all 0.3s ease-in-out;
    font-size:3em;
    color:#f96332;

    &:hover {
      color: lighten($color: #f96332, $amount: 10%);
    }
  }

  .join-input-wrapper {
    margin-top: 9em;
  }

  .main-header {
    i {
      margin-left: 2px;
      font-size: 0.7em;
    }
    font-size: 1em;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
  }
}