/*
  Body
*/

/*
  Header
*/
.page-header:before {
  background-color: rgba(0, 0, 0, 0.8);
}

/*
  Navbar
*/
.navbar { margin-bottom: 0 }

/*
  Typography
*/
h2 {
  margin: 1rem;
}

/*
  Alerts
*/
.alert { margin-bottom: 0 }
.alert:empty {
  display: none;
}

/*
  Inputs
*/
input[type][type=text] {
  background-color: white;
}
input[type][type=radio] {
  display: none;
}

.form-check .form-check-sign::after {
  color: white;
}

/*
  Cards
*/
.card {
  margin-bottom: 0;
}
