/*
  Reflection Page
*/

.reflection-page {
}

.small-date {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.iframe {
  width: 65px;
  height: 65px;
}

.remove-sticky {
  position: absolute;
  top: -26px;
  left: 38%;
  border: 0;
}

/* Display area */

.no-padding {
  padding: 5px;
}

.reflection-page .display-wrapper {
  padding: 50px;
}

.reflection-page .display-wrapper > #w1 > div, .reflection-page .display-wrapper > #w2 > div {
  border: 1px solid #252525;
  background-image: url("/images/retina_wood.png");
}

.reflection-page .display-wrapper .date-label {
  background-color: #ddd;
  padding: 10px;
  color: #252525;
  background-color: whitesmoke;
  h2 {
    text-align: center;
  }
}

.reflection-page li {
  list-style-type: none;
}

.reflection-page .ul-box {
  padding: 0;
  min-height: 250px;
  list-style: none;
}

.reflection-page .ul-box > li {
  min-height: 125px;
  opacity: 1;
  border-radius: 0px;
  padding: 20px;
  font-size: 15px;
  word-wrap: break-word;
}

.reflection-page .ul-box > li:hover {
  -webkit-box-shadow: 6px 5px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 5px 4px rgba(0,0,0,0.2);
  box-shadow: 6px 5px 4px rgba(0,0,0,0.2);
}

.reflection-page .ul-box > li.zoom-in {
  -webkit-animation: zoom-in 0.7s;
  animation: zoom-in 0.7s;
  opacity: 1;
}
/* fallback  */
@-webkit-keyframes zoom-in {
  from { opacity: 0;
      -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);}
  to {  
    opacity: 1;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);}
}@keyframes zoom-in {
  from {
    opacity: 0;
      -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);}
  to { 
    opacity: 1;
     -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);}
}

/* Sticky Rotation */
.reflection-page .ul-box li:nth-child(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.reflection-page .ul-box li:nth-child(3n){
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.reflection-page .ul-box li:nth-child(5n){
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

/* Sticky Colors */
.reflection-page .ul-box li:nth-child(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.reflection-page .ul-box li:nth-child(3n){
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

/* Sticky Hover + Focus */
.reflection-page .ul-box li:hover,ul li:focus{
  -moz-box-shadow:10px 10px 11px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 11px rgba(0,0,0,.7);
  box-shadow:10px 10px 11px rgba(0,0,0,.7);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  position:relative;
  z-index:5;
}

.reflection-page .ul-box li{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

/* Input area */

.reflection-page .input-wrapper {
  transition: right 0.3s ease-in-out;
  background-color: #EEE;
  position: relative;
  bottom: 0;
  right: 0;
  margin: 8px;
  border: 1px solid #AAA;
  border-radius: 3px;
}

.reflection-page .input-wrapper #name, .reflection-page .input-wrapper #msg {
  height: 46px;
}

.reflection-page #week-options-radio, .reflection-page #day-options-radio {
  flex: 1;
  margin: 8px;
}

.reflection-page #week-options-radio .btn {
  font-size: 18px !important;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.reflection-page #day-options-radio .btn {
  min-width: 74px;
  font-size: 18px !important;
  margin: 2px auto;
  display: inline-block;
  text-align: center;
}

.reflection-page .message-text-input {
  display: inline-block;

  input {
    margin-bottom: 10px;
  }

  #name, #msg {
    color: white;
  }
  #name:focus, #msg:focus {
    background-color: transparent;
  }
  #name::placeholder, #msg::placeholder {
    color: gray;
  }
}

.reflection-page .mh-30 {
  min-height:30px;
}

.reflection-page .mh-250 {
  min-height: 250px;
}

#add-sticky-reflection-button {
  position: fixed;
  bottom: -10px;
  right: 0px;
}

#online-users-button {
  position: fixed;
  bottom: -10px;
  left: 0px;
}