/* Display area */
.display-wrapper {
  padding: 50px;
}

.display-wrapper > #w1 > #user-list {
  border: 0px solid #252525;
  background-image: none;
  z-index: 10;
}

.display-wrapper > #w1 > div, .display-wrapper > #w2 > div {
  border: 1px solid #252525;
  background-image: url("/images/retina_wood.png");
}

.display-wrapper .ul-date-label {
  list-style: none;
  padding: 10px;
  text-decoration: underline;
  color: #252525;
}

li {
  list-style-type: none;
}

.ul-box {
  margin: 0;
  padding: 4px;
  min-height: 267.667px;
  list-style: none;
  text-decoration: underline;
}

.ul-box > li.col-md-6 {
  width: 48%;
  margin: 1%;
}

.ul-box > li {
  opacity: 1;
  border-radius: 0px;
  padding: 20px;
  font-size: 15px;
  word-wrap: break-word;
}

.ul-box > li:hover {
  -webkit-box-shadow: 6px 5px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 5px 4px rgba(0,0,0,0.2);
  box-shadow: 6px 5px 4px rgba(0,0,0,0.2);
}

.ul-box > li.fade {
  -webkit-animation: fade 0.7s;
  animation: fade 0.7s;
  opacity: 1;
}
/* fallback  */
@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/* Sticky Rotation */
.ul-box li:nth-child(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.ul-box li:nth-child(3n){
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.ul-box li:nth-child(5n){
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

/* Sticky Colors */
.ul-box li:nth-child(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.ul-box li:nth-child(3n){
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

/* Sticky Hover + Focus */
.ul-box li:hover,ul li:focus{
  -moz-box-shadow:10px 10px 11px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 11px rgba(0,0,0,.7);
  box-shadow:10px 10px 11px rgba(0,0,0,.7);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  position:relative;
  z-index:5;
}

.ul-box li{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

/* Input area */

.input-wrapper {
  padding: 50px;
}

.input-wrapper #name, .input-wrapper #msg {
  min-height: 50px;
  margin: 20px 0;
}

.btn {
  font-size: 18px !important;
  width: 100px;
  height: 75px;
  margin: 0 auto;
  padding-top: 24px !important;
  display: inline-block;
  line-height: 100px;
  text-align: center;
  margin: 20px 0;
}

.form-control {
  font-size: 20px !important;
}

.mh-30 {
  min-height:30px;
}

.mh-250 {
  min-height: 267.667px;
}